<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>

		<div class="register-bg">

			<div class="container " style="margin-top: 50px">
				<div
					class="row justify-content-center align-items-center min-vh-100 ">

					<div class="col-md-8 col-lg-6 m-5 ">
						<div class="card shadow-lg p-4 register-card ">

							<div class="card-header text-center  border-2">
								<p class="fs-4 fw-bold">Add Admin</p>

								<th:block th:if="${session.succMsg}">
									<p class="text-success fw-bold" style="font-size: 27px">[[${session.succMsg}]]</p>
									<th:block
										th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
								</th:block>

								<th:block th:if="${session.errorMsg}">
									<p class="text-danger fw-bold" style="font-size: 27px">[[${session.errorMsg}]]</p>
									<th:block
										th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
								</th:block>
							</div>

							<div class="card-body">

								<form action="/admin/save-admin" id="userRegister" novalidate enctype="multipart/form-data" method="post">
									<div class="row mb-3">
										<div class="col">
											<label class="form-label">Full Name</label> <input required
												class="form-control" name="name" type="text">
										</div>

										<div class="col">
											<label class="form-label">Mobile Number</label> <input
												required class="form-control" name="mobileNumber"
												type="number">
										</div>
									</div>

									<div class="mb-3">
										<label class="form-label">Email</label> <input required
											class="form-control" name="email" type="email">
									</div>

									<div class="row mb-3">
										<div class="col">
											<label class="form-label">Address</label> <input required
												class="form-control" name="address" type="text">
										</div>

										<div class="col">
											<label class="form-label">City</label> <input required
												class="form-control" name="city" type="text">
										</div>
									</div>

									<div class="row mb-3">
										<div class="col">
											<label class="form-label">State</label> <input required
												class="form-control" name="state" type="text">
										</div>

										<div class="col">
											<label class="form-label">Pincode</label> <input required
												class="form-control" name="pincode" type="number">
										</div>
									</div>

									<div class="row mb-3">
										<div class="col">
											<label class="form-label">Password</label> <input required
												class="form-control" name="password" type="password">
										</div>

										<div class="col">
											<label class="form-label">Confirm Password</label> <input
												required class="form-control" name="cpassword"
												type="password">
										</div>
									</div>

									<div class="mb-3">
										<label class="form-label">Profile Image</label> <input
											class="form-control" name="img" type="file">
									</div>

									<button type="submit" class="btn w-100 text-white"
										style="background: #ff6a00;">Register</button>
								</form>

							</div>

							<div class="card-footer text-center bg-transparent">
								Have an account? <a href="/signin"
									class="text-decoration-none fw-bold">Login</a>
							</div>

						</div>
					</div>

				</div>
			</div>

		</div>
	</section>
</body>
</html>