<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<style>

/* Search Box */
.search-box {
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.search-box input:focus {
    box-shadow: none;
}

/* Back Button */
.back-btn {
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 20px;
    background: #ff8c42;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.back-btn:hover {
    background: #e6762f;
    color: white;
}

/* Search Button */
.search-btn {
    background: #ff8c42;
    color: white;
    border-radius: 0 30px 30px 0;
    border: none;
    transition: 0.3s;
}

.search-btn:hover {
    background: #e6762f;
    color: white;
}
</style>


		<div class="container-fluid mt-5 p-5">
			<div class="card card-sh">
				<div class="card-header text-center">
					<p class="text-center fs-3 mt-2">All Destination</p>
					<th:block th:if="${session.succMsg}">
						<p class="text-success fw-bold" style="font-size: 23px">[[${session.succMsg}]]</p>
						<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>

					<th:block th:if="${session.errorMsg}">
						<p class="text-danger fw-bold" style="font-size: 23px">[[${session.errorMsg}]]</p>
						<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>
				</div>


				<div class="container mt-3">
					<div
						class="d-flex justify-content-between align-items-center p-2 bg-white shadow rounded-4">

						<!-- Back Button -->
						<a href="/admin/destination" class="back-btn"> <i
							class="fa-solid fa-arrow-left me-2 "></i> Back
						</a>

						<!-- Search Form -->
						<form action="/admin/destination" method="get" class="w-50">
							<div class="input-group search-box">

								<span class="input-group-text bg-white border-0"> <i
									class="fa-solid fa-magnifying-glass text-muted"></i>
								</span> <input type="text" class="form-control border-0 shadow-none"
									name="ch" placeholder="Search by place, city, state..."
									>

								<button class="btn search-btn px-4">Search</button>

							</div>
						</form>

					</div>
				</div>


				<!-- <div class="card card-sh">-->
				<div class="card-body">
					<table class="table table-bordered align-middle">
						<thead class="text-center fs-5">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Image</th>
								<th scope="col">Destination</th>
								<th scope="col">Category</th>
								<th scope="col">Budget {₹}</th>
								<th scope="col">duration {Hrs}</th>
								<th scope="col">Status</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody class="text-center fs-5">

							<tr th:each="p,c:${destination}">
								<th scope="row">[[${p.id}]]</th>
								<td><img style="border-radius: 10px"
									th:src="@{'/images/destination/' + ${p.image}}" width="150px"
									height="120px"></td>
								<td>[[${p.title}]]</td>
								<td>[[${p.category}]]</td>
								<td>[[${p.price}]]</td>
								<td>[[${p.duration}]]</td>
								<td>[[${p.isActive}]]</td>
								<td><a th:href="@{'/admin/editDestination/'+${p.id}}"
									class="btn btn-sm btn-primary" style="margin-right:30px;"><i
										class="fa-solid fa-pen-to-square "></i>Edit</a> <a
									th:href="@{'/admin/deleteDestination/'+${p.id}}"
									class="btn btn-sm btn-danger" style="margin-right:30px;"><i class="fa-solid fa-trash"></i>
										Delete</a></td>
							</tr>


						</tbody>
					</table>

					<div class="row">
						<div class="col-md-4 fs-5">Total Destination :
							[[${totalElements}]]</div>
						<div class="col-md-6">

							<nav aria-label="Page navigation example">

								<ul class="pagination">
									<li class="page-item"
										th:classappend="${isFirst} ? 'disabled':''">
										<a
										class="page-link"
										th:href="@{'/admin/destination?pageNo='+${pageNo-1}}"
										aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
									</a></li>

									<li th:each="i:${#numbers.sequence(1,totalPages)}"
										class="page-item" th:classappend="${pageNo+1==i}?'active':''"
										]]><a class="page-link"
										th:href="@{'/admin/destination?pageNo='+${i-1}}">[[${i}]]</a></li>

									<li class="page-item"
										th:classappend="${isLast} ? 'disabled':''"><a
										class="page-link"
										th:href="@{'/admin/destination?pageNo='+${pageNo+1}}"
										aria-label="Next"> <span aria-hidden="true">&raquo;</span>
									</a></li>
								</ul>

							</nav>

						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- 	</div> -->
	</section>
</body>
</html>
