<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<section>
		<style>

</style>
		<div class="container p-5">
			<p class="text-center fs-1 mt-5">Admin Dashboard</p>
			<div class="row p-5 ">
				<div class="col-md-4 mt-2">
					<a href="/admin/loadAddDestination" class="text-decoration-none">
						<div class="card card-sh p-2">
							<div class="card-body text-center text-primary">
							<i class="fa-solid fa-landmark fa-3x text-primary"></i>
								
								<h4>Add Destination</h4>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 mt-2">
					<a href="/admin/category" class="text-decoration-none">
						<div class="card card-sh  p-2">
							<div class="card-body text-center text-warning">
								<i class="fa-solid fa-list fa-3x"></i>
								<h4>Add Category</h4>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 mt-2">
					<a href="/admin/destination" class="text-decoration-none">
						<div class="card card-sh  p-2">
							<div class="card-body text-center text-success">
								<i class="fa-solid fa-table-list fa-3x"></i>
								<h4>View Destination</h4>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 mt-5">
					<a href="/admin/users?type=1" class="text-decoration-none">
						<div class="card card-sh  p-2">
							<div class="card-body text-center text-primary">
								<i class="fa-solid fa-circle-user fa-3x"></i>
								<h4>Users</h4>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-md-4 mt-5">
					<a href="/admin/users?type=2" class="text-decoration-none">
						<div class="card card-sh  p-2">
							<div class="card-body text-center text-primary">
								<i class="fa-solid fa-circle-user fa-3x"></i>
								<h4>Admins</h4>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-md-4 mt-5">
					<a href="/admin/add-admin" class="text-decoration-none">
						<div class="card card-sh  p-2">
							<div class="card-body text-center text-primary">
								<i class="fa-solid fa-user-plus fa-3x"></i>
								<h4>Add Admin</h4>
							</div>
						</div>
					</a>
				</div>

				

			</div>
		</div>
	</section>
</body>
</html>