<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<section>
		<style>

</style>
		<div style="margin-top: 60px;">
			<div class="aisection">
				<div class="aicontainer">
					<h1>
						Search with <br> <span>Seamless Power ✨</span>
					</h1>
					<div class="asearch-box">

						<span class="icon">🔍</span> <input type="text" id="msg"
							placeholder="Ask about travel...">

						<div class="voice-btn">
							<span></span> <span></span> <span></span>
						</div>

						<button type="button" onclick="sendMsg()">➤</button>

					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>