<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>forgot-password</title>
</head>
<body>
	<section class="forgot-section">

		<div class="container-fluid forgot-image">
			<div class="row align-items-center justify-content-center min-vh-100">


				<!-- Right Form -->
				<div class="col-md-5 col-lg-4 m-5">
					<div class="card p-4 shadow-lg border-0 rounded-4">

						<h3 class="text-center fw-bold mb-4">Reset Password 🔒</h3>

						<!-- Success Message -->
						<th:block th:if="${session.succMsg}">
							<div class="alert alert-success text-center"
								style="font-size: 22px">[[${session.succMsg}]]</div>
							<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>

						<!-- Error Message -->
						<th:block th:if="${session.errorMsg}">
							<div class="alert alert-danger text-center">
								[[${session.errorMsg}]]</div>
							<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>

						<form action="/reset-password" method="post" id="resetPassword"
							novalidate>

							<div class="mb-3">
								<label class="form-label fw-semibold">New Password</label><input
									class="form-control rounded-3 p-2" name="password"
									type="password" required>
							</div>

							<div class="mb-3">
								<label class="form-label fw-semibold">Conform Password</label> <input
									name="confirmPassword" class="form-control rounded-3 p-2"
									type="password" required>
							</div>
							<input type="hidden" th:value="${token}" name="token">
							<button type="submit"
								class="btn btn-primary w-100 rounded-3 mt-2">Reset
								Password</button>

						</form>



					</div>
				</div>

			</div>
		</div>

	</section>
</body>
</html>